body
  user-select: auto !important
  vendor('user-drag', auto) !important

.buccoHall
  background-color: #fff
  padding: 30px 0

  &__info
    &__title
      font-size: 25px
      font-weight: bold

    &__sales
      counter-reset: days -1
      &__sale
        clearfix()
        counter-increment: days;
        font-size: 18px
        text-align: right
        width: 200px
        &:before
          float: left
          content: counter(days) '日前';
          display: inline-block
          font-size: 15px
          padding: 0 5px
          box-sizing border-box
          width: 60px

        &:first-child:before
          content '当日'
        &:nth-child(2):before
          content '前日'

  &__chartCoinRate
    size 100% 420px

  &__content
      display: block

  &__status
      display: block

.buccoMachine
  &.corner
    relative()
    &:after
      absolute(right 10px top 30px)
      content: '角'
      transform rotate(30deg)
      border 5px solid #ff0000
      border-radius 50%
      font-size: 50px
      font-weight: bold
      color #ff0000
      padding: 10px
      $size = 30px;
      box-shadow: 0 $size 0 0 #ff0000, $size 0 0 0 #ff0000, (- $size) 0 0 0 #ff0000, 0 (- $size) 0 0 #ff0000

  &__header
    &__number
      font-size: 100px
      font-weight: bold
      display: inline-block

    &__setting
      display: inline-block

      &__key
        font-size: 15px
      &__sale
      &__coinRate
        font-size: 25px
        font-weight: bold


  &__info
    &__bigGraph img
      size auto

    &__smallGraphs
      counter-reset: days -1
      font-size: 0
      display: flex;
      flex-direction: row-reverse;
      li
        counter-increment: days;
        display: inline-block
        width:12.5%
        img
          width: 100%
          height: auto
        &:before
          content: counter(days) '日前';
          display: block
          font-size: 15px
          font-weight: bold
          text-align: center
          padding: 20px 0 5px

        &:first-child:before
          content '当日'
        &:nth-child(2):before
          content '前日'
    &__detail
      &#dedama_kind_table
        margin: 0

    &__mixChart
    &__bigChart
    &__regChart
      size 100% 0

.buccoGraph
  &__info
    &__coinRate
      //&.coinRate40
      //  color: #7363ff
      //&.coinRate39
      //  color: #7363ff
      //&.coinRate38
      //  color: #7363ff
      //&.coinRate37
      //  color: #00FF00
      //&.coinRate36
      //  color: #00FF00
      //&.coinRate35
      //  color: #00FF00
      //&.coinRate34
      //  color: #FF0000
      &.coinRate33
        color: #ff0000
      &.coinRate00
        color: #ff0000

    &__nowCoin
      &.nowCoin6000
      &.nowCoin5000
      &.nowCoin4000
        background-color: #a297ff
      //  background-color: #7363ff
      //&.nowCoin3000
      //  background-color: #7363ff
      //&.nowCoin2000
      //  background-color: #00FF00
      //&.nowCoin1000
      //  background-color: #00FF00
      //&.nowCoin0
      //  background-color: #00FF00
      //&.nowCoin_1000
      //  background-color: #00FF00
      //&.nowCoin_2000
      //  background-color: #00FF00
      &.nowCoin_3000
        background-color: #ffe700
      &.nowCoin_4000
      &.nowCoin_0000
        background-color: #ff0000

    &__regularRate
      &.regularRate1
      &.regularRate09
      &.regularRate08
      &.regularRate07
        color: #7363ff
      &.regularRate06
      &.regularRate05
      &.regularRate04
        color: #00ff00
      &.regularRate03
      &.regularRate02
      &.regularRate01
        color: #ff0000
    &__coinRate
    &__nowCoin
    &__min
    &__max
    &__rangePlus
    &__rangeMinus
    &__regularRate
      display: block
      padding: 5px 0 0
      &__key
        display: inline-block
        padding: 5px 0
        font-size: 11px
      &__value
        display: inline-block
        font-size: 15px
        font-weight: bold
