<div class="ultraIsland">
  <div class="ultraIsland__info">
    <div class="ultraIsland__info__item">
      <h2>得枚数</h2>
      <ul>
        <li><span class="ultraIsland__info__item__day">0日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">1日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">2日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">3日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">4日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">5日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">6日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">7日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
      </ul>
    </div>
    <div class="ultraIsland__info__item">
      <h2>稼働量</h2>
      <ul>
        <li><span class="ultraIsland__info__item__day">0日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">1日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">2日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">3日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">4日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">5日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">6日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
        <li><span class="ultraIsland__info__item__day">7日前</span><span class="ultraIsland__info__item__number">1231234</span></li>
      </ul>
    </div>
  </div>
  <div class="ultraIsland__left" v-if="islandData.left">
    <Machine
            v-for="params in islandData.left"
            v-bind:key="params.id"
            v-bind:params="params"
    ></Machine>
  </div>
  <div class="ultraIsland__right" v-if="islandData.right">
    <Machine
            v-for="params in islandData.right"
            v-bind:key="params.id"
            v-bind:params="params"
    ></Machine>
  </div>
</div>
